@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <!-- Button to navigate to the SearchDirectFlight view -->
    <a asp-controller="Flight" asp-action="SearchDirectFlight" class="btn btn-primary mt-3">
        Search Direct Flights
    </a>
</div>
